<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <h1><%=t("alliance.editing")%></h1>

            <%= render 'form', aliance: @aliance %>
        
        </div>
    </div>
</div>
