<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>English version below</p>
<p>-------------------------------</p>

<p>Na koleji 17 listopadu je od nyní v provozu systém, s jehož pomocí si můžete zarezervovat konkrétní místo na koleji. Vaše místo vám nikdo nevezme, pokud je vám tedy jedno kde a s kým budete bydlet, směle tento mail ignorujte. Systém běží na adrese <a href="https://listopad.zamluvy.koleje.cuni.cz">https://listopad.zamluvy.koleje.cuni.cz</a>.</p>

<p>Vaše přihlašovací jméno je email, na který vám přišla tato zpráva.</p>
<p>Vaše heslo je <%= @password %></p>

<p>-------------------------------</p>

<p>On the 17th of November dormitory, there is a system to book a specific place in the dormitory. Your spot won't be taken by anyone, so if you do not care where or with whom will you live, feel free to ignore this e-mail. The system can be found at <a href="https://listopad.zamluvy.koleje.cuni.cz">https://listopad.zamluvy.koleje.cuni.cz</a>.</p>

<p>Your login is the e-mail address where you received this message.</p>
<p>Your password is <%= @password %></p>
</body>
</html>
