<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% case AppSetting.first.dorm  when "listopad" %>
      <%= render "user_mailer/welcome_listopad" %>
    <% when "kajka" %>
      <%= render "user_mailer/welcome_kajka" %>
    <% end %>
  </body>
</html>
