<div class="container">
    <div class="row mb-3">
        <div class="col">
        
            <h1><%=t("notrunning.notrunning")%></h1>
            <p>
            Ahoj,<br>

            píšeme Vám ohledně systému zámluv. Ten měl být rozdělen do 4 kol, kde poslední kolo mělo být určěno pro stěhování v rámci koleje nebo pro nově příchozí. Abychom systém mohli spustit, potřebovali jsme vstupní data, kdo má rezervaci a kdo kde bydlí. Tato data jsme dostali od KaMu, přičemž ani sama ubytovací kancelář nám je dát nemohla.
            </p>
            <p>
            Při spuštění systému se zdálo, že všechno už bude probíhat v pořádku. Nicméně téměř okamžitě nám začaly přicházet první e-maily, kde se ozývali studenti, kteří neměli přihlašovací údaje - jednalo se jak o nové studenty, tak i o studenty, kteří na koleji bydlí několik let. V té chvíli jsme začali uživatele ručně přidávat a konktaktovali jsme ubytovačku, abychom průběžně ověřovali, kdo má skutečně rezervaci. Na konci dne se ukázalo, že nám v datech minimálně 170 lidí chybí (a to jsou jen ti, kteří nám napsali). Proto jsme vzniklou situaci museli neprodleně řešit - takto velká chyba je zkrátka nepřípustná. 
            </p>
            <p>
            Na začátku jsme totiž slíbili, že studenti, kteří náš systém vůbec nebudou používat, skončí na pokoji, na kterém mají letní ubytování (první kolo), nebo na pokoji, na kterém bydleli přes rok, pokud po prvním kole zůstal volný a nemají letní ubytování. S takto velkou chybou nejsme ale schopni zaručit, které pokoje jsou a nejsou volné, a mohlo by se tak stát, že bychom vystěhovali třeba i studenty s letním ubytováním.
            </p>
            <p>
            V tuto chvíli neexistuje žádná cesta, jak v nějakém rozumném čase přidat jen uživatele, kteří nám chybí. Proto jsme se s ubytovací kanceláří dohodli ná následujícím postupu:
            </p>
            - Studenti, kteří mají letní ubytovaní a v našem systému nejsou nebo se v našem systému nepřestěhovali, zůstanou na pokoji z letního ubytování.
            </p>
            <p>
            - Studenti, kteří nemají letní ubytovaní a bydleli na koleji přes rok a v našem systému nejsou nebo se v našem systému nepřestěhovali, zůstanou na pokoji přes rok.
            </p>
            <p>
            - Studenti, kteří se v rámci našeho systému přestěhovali, budou přestěhováni, pokud jejich místo zůstane reálně volné i s úplnými daty (tj. pokud jste si jistí, že místo, na které jste byli přistěhováni, je skutečně volné, nic by Vám hrozit nemělo), případné konflikty se budeme snažit řešit individuálně ručně a následně bychom Vás upozornili, k jakému vyřešení došlo
            </p>
            <p>
            - Ostatní studenti budou přiřazeni ubytovací kanceláří pomocí stejného klíče jako v dobách, kdy žádný systém nefungoval, tj. bohužel náhodně. 
            </p>
            <p>
            Ač nás to velice mrzí, protože tím vlastně Váš čas a celá naše iniciativa přichází vniveč, 4. kolo jsme z výše uvedených důvodů nuceni bez náhrady zrušit. Jelikož musíme všechna data řešit s ubytovací kanceláří ručně, třetí kolo skončí v neděli 25.8. ve 13:00...
            </p>
            Kolejní rada Kajky


        
        </div>
    </div>
</div>
