<div class="container">
    <div class="row">
        <div class="col">
        
            <h1><%=t("notrunning.notrunning")%></h1>
            <p><%=t("notrunning.desc") %></p>
        
        </div>
    </div>
</div>
