<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <h1>Switch room with <%= @place.name %></h1>

            <%= render 'form', switch_room: @switch_room %>
        </div>
    </div>
</div>