<h1>Editing Alliance Membership Request</h1>

<%= render 'form', alliance_membership_request: @alliance_membership_request %>

<%= link_to 'Show', @alliance_membership_request %> |
<%= link_to 'Back', alliance_membership_requests_path %>
